
h1{
    text-align: center;
}
.container{
    text-align: center;
    background-color:#eff5ff;
    width:"50";
    height:"100";
    margin: 200px;
    padding: 10px 10px 50px 10px;
}
#id1 {
    background-color:#52beeb;
    display: flex;
    justify-content: space-around;
    padding: 25px 1px;
}


#id2 {
    background-color:#d89ce0;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 10px;
}
#id3 {
    background-color:#fcfcff;
    display: flex;
    justify-content: space-between;
}