.container{
    width: 920px;
    height: 650px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px 1px;
    display: block;
}
.top-nav {
    height: 150px;
    background-color: green;
    display: block;
    margin: 10px 200px 1px 10px;
    padding: 30px 447px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline;
    margin: 1px 1px 20px 10px;
    padding: 300px 150px 1px 60px;
}
.main {
    height: 400px;
    width: 660px;
    background-color: red;
    display: inline-block;
    margin: 10px 190px 200px 20px;
    padding: 1px 1px;
}
.sub-content {
    height: 150px;
    width: 180px;
    background-color: yellow;
    display: inline-block;
    padding: 10px 1px 10px 10px;
    margin: 10px 1px 10px 10px;
}
#advertisement {
    height: 100px;
    width: 600px;
    background-color: purple;
    display: inline-block;
    margin: 10px 10px ;
    padding: 1px 1px;
}